h1 {
	color: red;
}

h2 {
	color: rgba(201, 100, 46, 0.922);
}

html {
	background-color: rgb(0, 255, 30);
}

a {
	color: rgb(250, 215, 224);
}

.log {
	background-color: rgb(0, 140, 255);
	font-size: 20px;
}

.str1 {
	background-color: blueviolet;
	font-size: 50px;
}

@font-face {
	font-family: 'Teddy Bear';
	src: url('fonts/teddy_bear.eot');
	/* IE 9 Compatibility Mode */
	src: url('fonts/teddy_bear.eot?#iefix') format('embedded-opentype'),
		/* IE < 9 */
		url('fonts/teddy_bear.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('fonts/teddy_bear.woff') format('woff'),
		/* Firefox >= 3.6, any other modern browser */
		url('fonts/teddy_bear.ttf') format('truetype'),
		/* Safari, Android, iOS */
		url('fonts/teddy_bear.svg#teddy_bear') format('svg');
	/* Chrome < 4, Legacy iOS */
}